.ng-popover {
  border: 1px solid #EAEAEA;
  position: relative;
  border-radius: 4px;
  /* min-width: 50px;
  min-height: 20px; */
  background: #FFF;
  z-index: 300; }
   .ng-popover .ng-popover-wrapper {
    position: relative; }
	
   .ng-popover .ng-popover-wrapper.bottom::before {
      content: ' ';
      position: absolute;
     
 border-bottom: 9px solid #FFF;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent; */
      z-index: 2; }
   /* .ng-popover .ng-popover-wrapper.bottom::after {
      content: ' ';
      position: absolute;
      top: -10px;
      left: 9px;
      border-bottom: 9px solid #EAEAEA;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      z-index: 1; }
    .ng-popover .ng-popover-wrapper.top::before {
      content: ' ';
      position: absolute;
      bottom: -7px;
      left: 12px;
      border-top: 7px solid #FFF;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      z-index: 2; }
    .ng-popover .ng-popover-wrapper.top::after {
      content: ' ';
      position: absolute;
      bottom: -9px;
      left: 10px;
      border-top: 9px solid #EAEAEA;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      z-index: 1; }
    .ng-popover .ng-popover-wrapper.left::before {
      content: ' ';
      position: absolute;
      right: -8px;
      top: 5px;
      border-left: 8px solid #FFF;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      z-index: 2; }
    .ng-popover .ng-popover-wrapper.left::after {
      content: ' ';
      position: absolute;
      right: -9px;
      top: 4px;
      border-left: 9px solid #EAEAEA;
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
      z-index: 1; }
    .ng-popover .ng-popover-wrapper.right::before {
      content: ' ';
      position: absolute;
      top: 5px;
      left: -8px;
      border-right: 8px solid #FFF;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      z-index: 2; }
    .ng-popover .ng-popover-wrapper.right::after {
      content: ' ';
      position: absolute;
      top: 4px;
      left: -9px;
      border-right: 9px solid #EAEAEA;
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
      z-index: 1; }
  .ng-popover .ng-popover-content {
    overflow: auto;  }   */

.ng-popover.hide {
  display: none; }
  
  
  
  
  
  /*  new style  */
  
 .avail_bal{
	  position: fixed; top:40px !important; border:1px solid #cecece;
  
  margin: 20px 0px 0px 0px; 
line-height: 1.9!important;
    height:auto !important; padding-bottom:10px;  font-size:12px!important; font-family:Arial;left:50;
	} 
.cart{ position: fixed;  border:1px solid #cecece;
  
line-height: 1.5!important;
    height:auto !important; padding-bottom:10px;  font-size:12px!important; font-family:Arial;left:50;}
	
/*  info icon class */
	
.info, .info_selectpgm, .info_selectpro_3, .info_selectpro_4 , .info_selectpro_5, .info_selectpro_6, 
.info_shoppingcart_7, .info_shippingaddr_8, .info_makepayment_9
{ 

          position: fixed;  border:1px solid #cecece;
           line-height: 1.5!important; z-index:100000!important;
          height:auto !important; padding-bottom:10px;  font-size:12px!important; font-family:Arial;left:50;
}

.custom-popover , .custom-popover_2 , .custom-popover_3, .custom-popover_4, .custom-popover_5, .custom-popover_6,
.custom-popover_7, .custom-popover_8, .custom-popover_9 
{
  width: 300px; overflow:hidden; 
} 		

 
  .custom-popover_1 {
  width: 250px; overflow:hidden;}	
.popover_heading{text-align:left; border:1px solid black;background-color:#CCCCCC;padding:3px 7px!important; }	
.cart_popover{line-height:21px;}
.popover_btn
{font-family: Arial, Helvetica, sans-serif;border-radius: 0px;border: 0px;background-color: #f15a29;
color: #FFFFFF;padding: 5px 10px;text-transform: inherit;font-size: 12px;}
th,td{ padding:0 5px 0 5px;}
.celpadd {padding-right:30px;}	
table{width:100%;}
.color-red{color:red;}
.popover_close{top: -13px !important;
left: -13px;}
.text-center{text-align:center;}
.cart_popBtn{font-family: Arial, Helvetica, sans-serif;border-radius: 0px;border: 0px;background-color: #f15a29;
color: #FFFFFF;padding: 5px 10px;text-transform: inherit;font-size: 12px;width:90%;}
.cart_popBtn_grey{font-family: Arial, Helvetica, sans-serif;border-radius: 0px;border: 0px;background-color: #cecece;
color: #000;padding: 5px 10px;text-transform: inherit;font-size: 12px;width:90%;}


/* arrow/triangle css  */

.container_triangle, .container_triangle_1, .container_triangle_2, .container_triangle_3, .container_triangle_4,
.container_triangle_5, .container_triangle_6, .container_triangle_7, .container_triangle_8, .container_triangle_9 {
        top: -9px;
    position: absolute;
    border-top: 1px solid #fff;
	z-index:100;
}

.triangle, .triangle_1 , .triangle_2, .triangle_3, .triangle_4, .triangle_5, .triangle_6, .triangle_7, .triangle_8,
.triangle_9{
    
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-left: 1px solid #cecece;
    border-top: 1px solid #cecece;
 
}








/* ==== Info Icon Media-queries ==== */
/* 320 x 480 */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait){
	
.info_selectpro_6{left:10px!important; top:528px !important;}
.info_selectpro_6 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:36px;
    */ z-index: 2;
}
.container_triangle_6{left:38px;}


.info_selectpro_3{left:10px!important; top:570px !important;}
.info_selectpro_3 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:200px;
    */ z-index: 2;
}
.container_triangle_3{left:202px;}


.info_selectpro_4{left:9px!important; top:616px !important;}
.info_selectpro_4 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:200px;
    */ z-index: 2;
}
.container_triangle_4{left:202px;}


.info_selectpro_5{left:9px!important; top:662px !important;}
.info_selectpro_5 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:200px;
    */ z-index: 2;
}
.container_triangle_5{left:202px;}


.info_shoppingcart_7{left:10px!important; top:1725px !important;}
.info_shoppingcart_7 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:204px;
    */ z-index: 2;
}
.container_triangle_7{left:206px;}


.info_shippingaddr_8{left:10px!important; top:1428px !important;}
.info_shippingaddr_8 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:34px;
    */ z-index: 2;
}
.container_triangle_8{left:36px;}


.info_makepayment_9{left:10px!important; top:1806px !important;}
.info_makepayment_9 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:10px;
    */ z-index: 2;
}
.container_triangle_9{left:12px;}
	
	
}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
.info_selectpro_6{left:14px!important; top:468px !important;}
.info_selectpro_6 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:36px;
    */ z-index: 2;
}
.container_triangle_6{left:38px;}


.info_selectpro_3{left:149px!important; top:510px !important;}
.info_selectpro_3 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:168px;
    */ z-index: 2;
}
.container_triangle_3{left:170px;}


.info_selectpro_4{left:149px!important; top:555px !important;}
.info_selectpro_4 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:168px;
    */ z-index: 2;
}
.container_triangle_4{left:170px;}


.info_selectpro_5{left:149px!important; top:600px !important;}
.info_selectpro_5 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:168px;
    */ z-index: 2;
}
.container_triangle_5{left:170px;}


.info_shoppingcart_7{left:125px!important; top:1743px !important;}
.info_shoppingcart_7 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:249px;
    */ z-index: 2;
}
.container_triangle_7{left:251px;}


.info_shippingaddr_8{left:23px!important; top:1420px !important;}
.info_shippingaddr_8 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:20px;
    */ z-index: 2;
}
.container_triangle_8{left:22px;}


.info_makepayment_9{left:5px!important; top:1820px !important;}
.info_makepayment_9 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:15px;
    */ z-index: 2;
}
.container_triangle_9{left:17px;}
	

}




/* 1300 to 1700 */
@media only screen and (min-device-width : 1300px) and (max-device-width : 1700px) {
.info_selectpro_6{left:340px!important; top:410px !important;}
.info_selectpro_6 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:36px;
    */ z-index: 2;
}
.container_triangle_6{left:38px;}


.info_selectpro_3{left:215px!important; top:451px !important;}
.info_selectpro_3 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:36px;
    */ z-index: 2;
}
.container_triangle_3{left:38px;}


.info_selectpro_4{left:215px!important; top:496px !important;}
.info_selectpro_4 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:36px;
    */ z-index: 2;
}
.container_triangle_4{left:38px;}


.info_selectpro_5{left:215px!important; top:540px !important;}
.info_selectpro_5 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:36px;
    */ z-index: 2;
}
.container_triangle_5{left:38px;}


.info_shoppingcart_7{left:1150px!important; top:825px !important;}
.info_shoppingcart_7 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:108px;
    */ z-index: 2;
}
.container_triangle_7{left:110px;}


.info_shippingaddr_8{left:688px!important; top:842px !important;}
.info_shippingaddr_8 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:20px;
    */ z-index: 2;
}
.container_triangle_8{left:22px;}


.info_makepayment_9{left:224px!important; top:904px !important;}
.info_makepayment_9 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:20px;
    */ z-index: 2;
}
.container_triangle_9{left:22px;}


}


@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (orientation : portrait) {
	.info_selectpro_6{left:12px!important; top:468px !important;}
.info_selectpro_6 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:36px;
    */ z-index: 2;
}
.container_triangle_6{left:38px;}


.info_selectpro_3{left:33px!important; top:510px !important;}
.info_selectpro_3 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:202px;
    */ z-index: 2;
}
.container_triangle_3{left:204px;}


.info_selectpro_4{left:33px!important; top:555px !important;}
.info_selectpro_4 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:202px;
    */ z-index: 2;
}
.container_triangle_4{left:204px;}


.info_selectpro_5{left:33px!important; top:600px !important;}
.info_selectpro_5 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:202px;
    */ z-index: 2;
}
.container_triangle_5{left:204px;}


.info_shoppingcart_7{left:6px!important; top:1715px !important;}
.info_shoppingcart_7 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:249px;
    */ z-index: 2;
}
.container_triangle_7{left:251px;}


.info_shippingaddr_8{left:24px!important; top:1404px !important;}
.info_shippingaddr_8 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:20px;
    */ z-index: 2;
}
.container_triangle_8{left:22px;}


.info_makepayment_9{left:5px!important; top:1808px !important;}
.info_makepayment_9 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:15px;
    */ z-index: 2;
}
.container_triangle_9{left:17px;}
	

}




@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (orientation : landscape) {
.info_selectpro_6{left:45px!important; top:469px !important;}
.info_selectpro_6 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:36px;
    */ z-index: 2;
}
.container_triangle_6{left:38px;}


.info_selectpro_3{left:223px!important; top:510px !important;}
.info_selectpro_3 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:168px;
    */ z-index: 2;
}
.container_triangle_3{left:170px;}


.info_selectpro_4{left:223px!important; top:555px !important;}
.info_selectpro_4 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:168px;
    */ z-index: 2;
}
.container_triangle_4{left:170px;}


.info_selectpro_5{left:223px!important; top:600px !important;}
.info_selectpro_5 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:168px;
    */ z-index: 2;
}
.container_triangle_5{left:170px;}


.info_shoppingcart_7{left:285px!important; top:2095px !important;}
.info_shoppingcart_7 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:249px;
    */ z-index: 2;
}
.container_triangle_7{left:251px;}


.info_shippingaddr_8{left:55px!important; top:1406px !important;}
.info_shippingaddr_8 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:20px;
    */ z-index: 2;
}
.container_triangle_8{left:22px;}


.info_makepayment_9{left:34px!important; top:1201px !important;}
.info_makepayment_9 .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
	top:-9px; left:15px;
    */ z-index: 2;
}
.container_triangle_9{left:17px;}
	

}
