
  <div id="header" ng-include="'header_supervisor.html'"></div>
	
	
<div class="container-fluid content-container content_bg">

  <div class="row">
     
    <div class="col-xs-12 col-sm-12 col-md-12 left-container left-bg pt10 center">

      <div class="row row-spacer">
	  <div id="chat" ng-include="'start_chat.html'"></div>  
<div class="clearclass floatL padleft10"><a href="#uniforms"><span class="fa fa-home size-2em"></span></a> <span class="glyphicon glyphicon-menu-right"></span> <span>My Account</span>   </div>
	
   	 <div class="clear-padd col-xs-12 col-sm-12 col-md-12">
	 
	     <h4 class="padd10"><span class="header-variant"><strong>MY ACCOUNT</strong> </span></h4>
		  
     </div>
      
    </div>
 
     
           <div class="row mar40Right marginLeft0">
		    <div class="panel col-xs-12 col-sm-5 col-md-5 support-panel-width ns-height fpanelspace sprtpanel-width marRight0">
           <p>
     <h4 class="newsHeading-margin"><strong>Your Account Balance</strong></h4><p>
   <hr>
      <table>
	
	<tbody>
	<tr >
		<td class="padleft20 padd10Top">Total Order</td>
		<td>$0.00</td>
	</tr>
	<tr >
		<td  class="padleft20 padd10Top">Company Paid</td>
		<td>$0.00</td>
	</tr>
	<tr  >
		<td class="padleft20 padd10Top">You Pay</td>
		<td>$0.00</td>
	</tr>
	</tbody>
</table>
<hr>
<table>
	
	<tbody>
	<tr>
		<td class="padleft20  padd15TB">Remaining Allowance</td>
		<td >$282.82</td>
	</tr>
	</tbody>
</table>
 
   
    <div class="col-xs-12 col-sm-12 col-md-12">
 <div class="col-xs-6 col-sm-8 col-md-9 clear-padd padd15TB "></div>
      <div class="col-xs-6 col-sm-4 col-md-3 clear-padd padd15TB ">
<a href="#viewbalance">
<button class=" btn btn-default login-btn btn-lg btn-block floatR  padright10 " type="submit"  value="Submit">View More</button></a>
</div></div>
     
           </div>
                
                
                <div class="panel col-xs-12 col-sm-5 col-md-5  support-panel-width panel-right-align ns-height sprtpanel-width marRight0">
         
        <p>
     <h4 class="newsHeading-margin"><strong>Items You Ordered Last Time (Plus 5 more)</strong></h4><p>
	 <hr>
   <div class="col-xs-12 col-sm-12 col-md-12">
        <img src="images/newsImg.jpg" class="newsImg-placement clear_margin">
		<p>Mens's 5.25 oz button-front Dress Unifrom Shirt Item SE:G6</p>
         <p>Mens's 5.25 oz button-front </p>
   </div>
   
   
     <div class="col-xs-12 col-sm-12 col-md-12">
 <div class="col-xs-6 col-sm-8 col-md-9 clear-padd padd15TB "></div>
      <div class="col-xs-6 col-sm-4 col-md-3 clear-padd padd15TB ">
<a href="#order_history">
<button class=" btn btn-default login-btn btn-lg btn-block floatR  padright10 " type="submit"  value="Submit">View More</button></a>
</div></div>
     
           </div></div>
		      <div class="row mar40Right marginLeft0">
		   <div class="panel col-xs-12 col-sm-5 col-md-5 support-panel-width ns-height fpanelspace sprtpanel-width marRight0">
            
     <h4 class="newsHeading-margin"><strong>Your Account Settings</strong></h4><p>
   <hr>
   <form>
   <div ng-controller="tabCtrl">
   <div class="col-xs-12 col-sm-12 col-md-12">
   <div class="col-xs-12 col-sm-9 col-md-6 clear-padd padd20Top ">
                   
                  <a href="#change_password" ><button class=" btn btn-default login-btn btn-lg btn-block floatR   padright10" type="submit"  value="Submit">Change Your Password</button></a>
				  
                  </div></div>
				  <div class="col-xs-12 col-sm-12 col-md-12">
				  <div class="col-xs-12 col-sm-9 col-md-6 clear-padd padd20Top">
                  
				  <a href="#change_password"  ng-click="change_pwd_tab();"> <button class=" btn btn-default login-btn btn-lg btn-block floatR  padright10" type="submit"  value="Submit">Modify Your Email Id</button></a>
                  </div>
				  </div>
				  <div ng-controller="personController">

  <input type="button" value="focus" ng-click="focus()">
</div>
			   </div>	
   </form>
           </div>
		   	  <div class="panel col-xs-12 col-sm-5 col-md-5  support-panel-width panel-right-align ns-height sprtpanel-width marRight0">
      <h4 class="newsHeading-margin"><strong>Comment Card/ Your Feedback</strong></h4><p>
   <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vulputate maximus magna, Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit. Praesent vul-putate maximus magna, </p>
	  <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vulputate maximus magna, Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit. Praesent vul-putate maximus magna, consectetur consectetur adipiscing elit. Praesent vul-putate maximus magna consectetur consectetur adipiscing elit. Praesent vul-putate maximus magna </p>
	  
	  <div class="col-xs-12 col-sm-12 col-md-12">
 <div class="col-xs-2 col-sm-4 col-md-7 clear-padd padd15TB "></div>
      <div class="col-xs-10 col-sm-8 col-md-5 clear-padd padd15TB ">
<a href="https://secure.sitemason.com/form/jPWfCg" target="_blank">
<button class=" btn btn-default login-btn btn-lg btn-block floatR  padright10 " type="submit"  value="Submit">Send Your Feedback</button></a>
</div></div>
           </div>
		   
           </div>
		    
	
		   
    
         
	
	<span class="clear-padd clearclass">
		<a class="icon-chevron-up">
        <back-top scroll-speed=500 button-theme="light" button-text="Take me back"></back-top>
	 </a> 

	
	</span>

     
  
    </div>
  </div>
  
    </div>
	 
	 
	 
	 <!-- uniform end -->
	 
 
   
   


   
