<div id="printSectionId">
<div class="modal-content" style="width:100%">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true"><!-- <span class="glyphicon glyphicon-remove glyphSize40"></span> --><span aria-hidden="true" class="glyphSize40">&times;</span></span></button>
        <h4 class="modal-title" id="exampleModalLabel">ORDER CUSTOMIZATION</h4>
    </div>

    <div class="modal-body tbl_border">
        <div class="padleft10 padright10">

            <!-- For Detail Panel -->
       

    
            <!-- <table class="table blueTable table-bordered table-responsive"> -->
            <div class="row">
			<div class=" padright30">
                                  <div class="panel">
	
                                   <table class="white" wt-responsive-table cellspacing="0" cellpadding="0" >
                                        <thead>
                                          <tr class="dummyheader padd10 linetableheight">
                                            <th class="padleft10">Description</th>
                                            <th>Thread Color</th>
                                            <th>Location</th>
                                            <th>Font </th>
                                            <th>AS</th>
											<th>NC</th>
											<th>Attach Type</th>
											<th>Text</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                               <tr class="linetableheight linkCursorPointer" ng-click="approval_details(1)">
                                            <td class="padleft10">AM</td>
                                            <td></td>
                                            <td>RSS</td>
                                             <td></td>
											 <td></td>
											 <td></td>
											 <td></td>
											 <td></td>
                                          </tr>
                                                <tr class="linetableheight linkCursorPointer" ng-click="approval_details(1)">
                                            <td class="padleft10">EM</td>
                                            <td>TB</td>
                                            <td>RUF</td>
                                             <td>$15</td>
											 <td></td>
											 <td></td>
											 <td>$</td>
											 <td>ABCD</td>
                                          </tr>
                                                <tr class="linetableheight linkCursorPointer" ng-click="approval_details(1)">
                                            <td class="padleft10">AM</td>
                                            <td></td>
                                            <td>LSS</td>
                                             <td></td>
											  <td></td>
											 <td></td>
											 <td></td>
											 <td></td>
                                          </tr>
                                                <tr class="linetableheight linkCursorPointer" ng-click="approval_details(1)">
                                             <td class="padleft10">AM</td>
                                            <td></td>
                                            <td>LUF</td>
                                             <td></td>
											  <td></td>
											 <td></td>
											 <td></td>
											 <td></td>
                                          </tr>
                                               
                                               
										  
                                        </tbody>
                                    </table>

     </div>
	 </div>
              

                  <div class="row">
               
                    <div class="col col-xs-12 col-sm-12 col-md-3 col-lg-2" style="padding-left:10px;padding-top:10px;">
                        <input class="btn login-btn btn-lg btn-block" type="button" data-dismiss="modal" value="Ok" ng-click="cancel()">
                    </div> 
               					
                </div>
              

            </div>
        </div>
    </div>








</div>















