

	  <div id="header" ng-include="'header_supervisor.html'"></div>
	
<div class="container-fluid content-container content_bg">

  <div class="row">
     
    <div class="col-xs-12 col-sm-12 col-md-12 left-container left-bg pt10 center">

    <div class="row row-spacer">
                            <div id="chat" ng-include="'start_chat.html'"></div>
                            <div class="clearclass floatL padleft10"><a href="#uniforms"><span class="fa fa-home size-2em"></span></a> <span class="glyphicon glyphicon-menu-right"></span> <a href="#myaccount">My Account</a> 
<span class="glyphicon glyphicon-menu-right"></span> <span>Order History</span></div>

                            <div class="clear-padd col-xs-12 col-sm-12 col-md-12">
                              <h4 class="padd10"><span class="header-variant"><strong>ORDER HISTORY</strong> </span></h4>
                            </div>
                          </div>
 
                              <div class="row" ng-controller="orderHistoryCtrl" >
                             
<!--                                 <div class="col-xs-12 col-sm-12 col-md-12 padright40 ">
                                  <div class=" view_container col-xs-12 col-sm-12 col-md-12  " >
                                    <div class="col-xs-12 col-sm-12 col-md-12 padd20bot tab-content bordertop marginbtm20" style="overflow:hidden">         
                                      <form>
                                        <div class="row ">
                                          <div class="col-xs-12 col-sm-6 col-md-6 padleftop25">
                                          </div>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div> -->

                                <!-- For Search Panel -->
                                <div class="padleft10">
                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h3 class="panel-title">Search<span ng-click="activateToggle()"  ng-class="(toggleActive == true ? ' glyphicon glyphicon-triangle-top pull-right' : 'glyphicon glyphicon-triangle-bottom pull-right')" aria-hidden="true"></span></h3>
                                    </div>
                                    <div class="panel-body" ng-show="toggleActive">

                                      
                                      <div class="row" style="padding-left:20px" >
                                      <form >
									  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padd10Bottom">
									  <span class="icon-star">*</span><span class="padd5Left font11 colorRed">Required</span>
									  </div>
									  <div class="col col-sm-12 col-md-12 col-lg-12">
                                          <div class="col col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group datePickerRight">
                                              <label for="idFromDate">From Date <span class="icon-star">*</span></label>
											
                                                <p class="input-group" id="idFromDate">
                                                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" popup-placement="bottom-right"  is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" value="10/10/2016"
												  placeholder="09/09/2016"/>
                                                  <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                  </span>
                                                </p>
												
                                            </div>
                                            <!-- <div class="form-group">
                                              <label for="idOrderNumber">Order Number</label>
                                              <input type="text" class="form-control form-control_width" id="idOrderNumber" placeholder="Enter Order Number">
                                            </div> -->
                                          </div>

                                          <div class="col col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group datePickerRight">
                                              <label for="idToDate">To Date  <span class="icon-star">*</span></label>
                                                <p class="input-group" id="idToDate">
                                                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup2.opened" popup-placement="bottom-right" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" 
												  placeholder="10/10/2016"/>
                                                  <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                  </span>
                                                </p>
                                            </div>
                                          
                                            <!-- <div class="form-group">
                                              <label for="idSelectOrder">Order By</label>
                                              <select class="form-control form-control_width" id="idSelectOrder" placeholder="Select By Order">
                                                <option>Carrier</option>
                                                <option>Date</option>
                                                <option>Order Number</option>
                                                <option>Ship Date</option>
                                                <option>Status</option>
                                              </select>
                                            </div> -->
                                          </div>  
										  </div>
										  
										  <div class="col col-sm-12 col-md-12 col-lg-12">
                                          <div class="col col-sm-6 col-md-6 col-lg-6">
                                           <!--  <div class="form-group datePickerRight">
                                              <label for="idFromDate">From Date <span class="icon-star">*</span></label>
                                                <p class="input-group" id="idFromDate">
                                                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" value="10/10/2016"
												  placeholder="09/09/2016"/>
                                                  <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                  </span>
                                                </p>
                                            </div> -->
                                            <div class="form-group">
                                              <label for="idOrderNumber">Order Number</label>
                                              <input type="text" class="form-control form-control_width" id="idOrderNumber" placeholder="Enter Order Number">
                                            </div> 
                                          </div>
                                          <div class="col col-sm-6 col-md-6 col-lg-6">
                                            <!-- <div class="form-group datePickerRight">
                                              <label for="idToDate">To Date  <span class="icon-star">*</span></label>
                                                <p class="input-group" id="idToDate">
                                                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" 
												  placeholder="10/10/2016"/>
                                                  <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                  </span>
                                                </p>
                                            </div> -->
                                          
                                             <div class="form-group">
                                              <label for="idSelectOrder">Order By</label>
                                              <select class="form-control form-control_width" id="idSelectOrder" placeholder="Select By Order">
                                                <option>Carrier</option>
                                                <option>Date</option>
                                                <option>Order Number</option>
                                                <option>Ship Date</option>
                                                <option>Status</option>
                                              </select>
                                            </div> 
                                          </div>  
										  </div>
                                          <div style="padding-right:20px">
                                            <div class="col col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                              <input class="btn login-btn btn-lg btn-block" type="button" value="Search">
                                            </div>  
                                          </div>
                                      </form>
                                      </div>
                                      


                                    </div>
                                  </div>      
                                </div>

                                <div class="row"></div>

                                <div class="padleft10">
                                  <div class="panel">
                                    <table class="white" wt-responsive-table cellspacing="0" cellpadding="0">
                                        <thead>
                                          <tr class="dummyheader padd10 linetableheight20">
                                            <th class="padleft10  padd10Top padd10Bottom">Order Number</th>
                                            <th>Invoice Number</th>
                                            <th>PO Number</th>
                                            <th>Date</th>
                                            <th>Company Paid</th>
											 <th>Employee Paid</th>
											<th>Status</th> 
                                            <th>Carrier</th>
                                            <th>Ship Date</th>
											<th>Tracking Number</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr class="linetableheight linkCursorPointer" ng-click="details(1)">
                                            <td class="padleft10">61250200</td>
                                            <td></td>
                                            <td>09/12/2016</td>
                                            <td>09/12/2016</td>
                                            <td>$134.90</td>
											<td>$0.00</td>
											<td class="linetableheight20">Entered</td>
											<td></td>
											<td>-</td>
											<td>N/A</td>
                                          </tr>
                                          <tr class="linetableheight linkCursorPointer" ng-click="details(1)">
                                             <td class="padleft10">61250200</td>
                                            <td></td>
                                            <td>09/12/2016</td>
                                            <td>09/12/2016</td>
                                            <td>$134.90</td>
											<td>$0.00</td>
											<td class="linetableheight20">Billed</td>
											<td>FEDG</td>
											<td>07/07/2016</td>
											<td>N/A</td>
                                          </tr>
                                          <tr class="linetableheight linkCursorPointer" ng-click="details(1)">
                                              <td class="padleft10">61250200</td>
                                            <td></td>
                                            <td>09/12/2016</td>
                                            <td>09/12/2016</td>
                                            <td>$134.90</td>
											<td>$0.00</td>
											<td class="linetableheight20">Cancellation</td>
											<td>FEDG</td>
											<td>-</td>
											<td>N/A</td>
                                          </tr>
                                          <tr class="linetableheight linkCursorPointer" ng-click="details(1)">
                                              <td class="padleft10">61250200</td>
                                            <td></td>
                                            <td>09/12/2016</td>
                                            <td>09/12/2016</td>
                                            <td>$134.90</td>
											<td>$0.00</td>
											<td class="linetableheight20">Return in Progress</td>
											<td>FEDG</td>
											<td>-</td>
											<td>N/A</td>
                                          </tr>
                                          <tr class="linetableheight linkCursorPointer" ng-click="details(1)">
                                              <td class="padleft10">61250200</td>
                                            <td>24758796</td>
                                            <td>09/12/2016</td>
                                            <td>09/12/2016</td>
                                            <td>$134.90</td>
											<td>$0.00</td>
											<td class="linetableheight20">Rejected</td>
											<td>FEDG</td>
											<td>-</td>
											<td>N/A</td>
                                          </tr>
                                          <tr class="linetableheight linkCursorPointer" ng-click="details(1)">
                                              <td class="padleft10">61250200</td>
                                            <td></td>
                                            <td>09/12/2016</td>
                                            <td>09/12/2016</td>
                                            <td>$134.90</td>
											<td>$0.00</td>
											<td class="linetableheight20"> Return Completed</td>
											<td>FEDG</td>
											<td>-</td>
											<td>N/A</td>
                                          </tr>
										  <tr class="linetableheight linkCursorPointer" ng-click="details(1)">
                                              <td class="padleft10">61250200</td>
                                            <td></td>
                                            <td>09/12/2016</td>
                                            <td>09/12/2016</td>
                                            <td>$134.90</td>
											<td>$0.00</td>
											<td class="linetableheight20">Revised</td>
											<td>FEDG</td>
											<td>-</td>
											<td>N/A</td>
                                          </tr>
										  <tr class="linetableheight linkCursorPointer" ng-click="details(1)">
                                              <td class="padleft10">61250200</td>
                                            <td></td>
                                            <td>09/12/2016</td>
                                            <td>09/12/2016</td>
                                            <td>$134.90</td>
											<td>$0.00</td>
											<td class="linetableheight20">Awaiting Approval</td>
											<td>FEDG</td>
											<td>-</td>
											<td>N/A</td>
                                          </tr>
										  <tr class="linetableheight linkCursorPointer" ng-click="details(1)">
                                              <td class="padleft10">61250200</td>
                                            <td></td>
                                            <td>09/12/2016</td>
                                            <td>09/12/2016</td>
                                            <td>$134.90</td>
											<td>$0.00</td>
											<td class="linetableheight20">Approved</td>
											<td>FEDG</td>
											<td>-</td>
											<td>N/A</td>
                                          </tr>
                                        </tbody>
                                    </table>
									
<!--                                     <div class="panel-body" style="padding:0px">
                                      <table class="table blueTable table-responsive table-bordered">
                                        <thead class="heading">
                                          <tr>
                                            <td>Order Number</td>
                                            <td>Tracking Number</td>
                                            <td>Invoice Number</td>
                                            <td>Status</td>
                                            <td>Date</td>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr ng-click="details(1)">
                                            <td>61250200</td>
                                            <td>1Z074190371945677</td>
                                            <td>22760173</td>
                                            <td>Billed</td>
                                            <td>07/13/2015</td>
                                          </tr>
                                          <tr ng-click="details(1)">
                                            <td>61250200</td>
                                            <td>1Z074190371945677</td>
                                            <td>22760173</td>
                                            <td>Billed</td>
                                            <td>07/13/2015</td>
                                          </tr>
                                          <tr ng-click="details(1)">
                                            <td>61250200</td>
                                            <td>1Z074190371945677</td>
                                            <td>22760173</td>
                                            <td>Billed</td>
                                            <td>07/13/2015</td>
                                          </tr>
                                          <tr ng-click="details(1)">
                                            <td>61250200</td>
                                            <td>1Z074190371945677</td>
                                            <td>22760173</td>
                                            <td>Billed</td>
                                            <td>07/13/2015</td>
                                          </tr>
                                          <tr ng-click="details(1)">
                                            <td>61250200</td>
                                            <td>1Z074190371945677</td>
                                            <td>22760173</td>
                                            <td>Billed</td>
                                            <td>07/13/2015</td>
                                          </tr>
                                          <tr ng-click="details(1)">
                                            <td>61250200</td>
                                            <td>1Z074190371945677</td>
                                            <td>22760173</td>
                                            <td>Billed</td>
                                            <td>07/13/2015</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>  -->
                                  </div> 
                                </div>
                              </div>
	<span class="clear-padd clearclass">
		<a class="icon-chevron-up">
        <back-top scroll-speed=500 button-theme="light" button-text="Take me back"></back-top>
	 </a> 

	
	</span>

     
  
    </div>
  </div>
  
    </div>
	 
	 
	 
	 <!-- uniform end -->
	 
 
   
   


   
