

	  <div id="header" ng-include="'header_supervisor.html'"></div>
	
<div class="container-fluid content-container content_bg">

  <div class="row">
     
    <div class="col-xs-12 col-sm-12 col-md-12 left-container left-bg pt10 center">

    <div class="row row-spacer">
                            <div id="chat" ng-include="'start_chat.html'"></div>
                            <div class="clearclass floatL padleft10"><a href="#uniforms"><span class="fa fa-home size-2em"></span></a> <span class="glyphicon glyphicon-menu-right"></span>  <span>Reports</span></div>

                            <div class="clear-padd col-xs-12 col-sm-12 col-md-12">
                              <h4 class="padd10"><span class="header-variant"><strong>Reports</strong> </span></h4>
                            </div>
									   					
								<div class="clear-padd  success_notifications  col-xs-12 col-sm-12 col-md-12" >									
		<div class="modal-body">
	<div class=" pull-left">
          <span class="floatR glyphicon glyphicon-info-sign fa-2xlogout blue marg5 cursor_ptr padleft10_btn"  ></span></div>  
<div class="col-xs-9">

<p class="clearclass font12 padd10Top"> There are no reports to display</p>

</div>

        </div>
  
		  </div>
                          </div>
 
                              <div class="row" ng-controller="orderHistoryCtrl" >
                             
                 

                                <div class="padleft10">
                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h3 class="panel-title">Select one or more ARs  <span class="glyphicon glyphicon-info-sign fa-2x colorwhite cursor_ptr padleft10_btn"  data-toggle="popover" tabindex="2" data-trigger="focus" title="Having Trouble Logging in" data-content="Please enter your employee Number as your Login and the PIN supplied to you as your password."></span></h3>
                                    </div>
                                    <div class="panel-body">

                                       <div class="panel noborder">
                                   <table class="white table-striped noborder" wt-responsive-table cellspacing="0" cellpadding="0">
                                   
                                        <tbody>
                                          <tr class="linetableheight " >
                                            <td class="clear-left-padd cursor_ptr "><input type="checkbox" value="" class="mar10Left" ng-model="checked"/> Ameren Coporation12</td>
                                            <td class="clear-left-padd cursor_ptr"><input type="checkbox" value="" class="mar10Left" />  Ameren Coporation</td>
                                            <td class="clear-left-padd cursor_ptr"><input type="checkbox" value="" class="mar10Left" />  Ameren Coporation</td>
                                            <td class="clear-left-padd cursor_ptr"><input type="checkbox" value="" class="mar10Left" />  Ameren Coporation</td>
                                            <td class="clear-left-padd cursor_ptr"><input type="checkbox" value="" class="mar10Left" />  Ameren Coporation</td>
                                          </tr>
                                          <tr class="linetableheight " >
                                            <td class="clear-left-padd cursor_ptr"><input type="checkbox" value="" class="mar10Left" />  Ameren Coporation (CLIPS)</td>
                                            <td class="clear-left-padd cursor_ptr"><input type="checkbox" value="" class="mar10Left" />  Ameren Coporation (CLIPS)</td>
                                            <td class="clear-left-padd cursor_ptr"><input type="checkbox" value="" class="mar10Left" />  Ameren Coporation (CLIPS)</td>
                                            <td class="clear-left-padd cursor_ptr"><input type="checkbox" value="" class="mar10Left" />  Ameren Coporation (CLIPS)</td>
                                            <td class="clear-left-padd cursor_ptr"><input type="checkbox" value="" class="mar10Left" />  Ameren Coporation (CLIPS)</td>
                                          </tr>
                                          <tr class="linetableheight " >
                                          <td class="clear-left-padd cursor_ptr"><input type="checkbox" value="" class="mar10Left" />  Ameren Coporation</td>
                                            <td class="clear-left-padd cursor_ptr"><input type="checkbox" value="" class="mar10Left" />  Ameren Coporation</td>
                                            <td class="clear-left-padd cursor_ptr"><input type="checkbox" value="" class="mar10Left" />  Ameren Coporation</td>
                                            <td class="clear-left-padd cursor_ptr"><input type="checkbox" value="" class="mar10Left" />  Ameren Coporation</td>
                                            <td class="clear-left-padd cursor_ptr"><input type="checkbox" value="" class="mar10Left" />  Ameren Coporation</td>
                                          </tr>
                                
                                        </tbody>
                                    </table>
									
                                
                                    <div class=" clear-padd form-group padding-left10 padd20Top">
             <div class="col-xs-12 col-sm-4 col-md-4 clear-padd">
             <div class="col-xs-11 col-sm-5 col-md-4 col-lg-4" style="margin-right:5px;margin-bottom:10px;">
               <input type="button" value="continue" id="continue" class="btn btn-default login-btn btn-block" title="Continue" tabindex="4" ng-model="button" ng-disabled="!checked" ng-click="showme=true"></div>

              
         
                             
                </div>
            </div>   


                                    </div>
                                  </div>      
                                </div>

               
                                  <div class="panel" ng-show="showme">
                                    <table class="white table-striped" wt-responsive-table cellspacing="0" cellpadding="0">
                                        <thead>
                                          <tr class="dummyheader padd10 linetableheight">
                                            <th class="padleft10">Report Avaliable</th>
                                            <th></th>
                                       
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr class="linetableheight " >
                                            <td class="padleft10">Ameren Coporation</td>
                                             <td class="padd10"><i class="fa fa-envelope colorgrey1" aria-hidden="true"></i></td>
                                            
                                          </tr>
                                          <tr class="linetableheight " >
                                            <td class="padleft10">Ameren Coporation</td>
                                            <td class="padd10"><i class="fa fa-envelope colorgrey1" aria-hidden="true"></i></td>
                                         
                                          </tr>
                                          <tr class="linetableheight " >
                                            <td class="padleft10">Ameren Coporation</td>
                                            <td class="padd10"><i class="fa fa-envelope colorgrey1" aria-hidden="true"></i></td>
                                          
                                          </tr>
                                          <tr class="linetableheight " >
                                            <td class="padleft10">Ameren Coporation</td>
                                            <td class="padd10"><i class="fa fa-envelope colorgrey1" aria-hidden="true"></i></td>
                                      
                                          </tr>
                                          <tr class="linetableheight" >
                                            <td class="padleft10 padd10">Ameren Coporation</td>
                                            <td class="padd10"><i class="fa fa-envelope colorgrey1" aria-hidden="true"></i></td>
                                   
                                          </tr>
                                          <tr class="linetableheight " >
                                            <td class="padleft10">Ameren Coporation</td>
                                            <td class="padd10"><i class="fa fa-envelope colorgrey1" aria-hidden="true"></i></td>
                              
                                          </tr>
                                        </tbody>
                                    </table>
									
<!--                                     <div class="panel-body" style="padding:0px">
                                      <table class="table blueTable table-responsive table-bordered">
                                        <thead class="heading">
                                          <tr>
                                            <td>Order Number</td>
                                            <td>Tracking Number</td>
                                            <td>Invoice Number</td>
                                            <td>Status</td>
                                            <td>Date</td>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr >
                                            <td>Ameren Coporation</td>
                                            <td><i class="fa fa-envelope" aria-hidden="true"></i></td>
                                            <td>22760173</td>
                                            <td>Billed</td>
                                            <td>07/13/2015</td>
                                          </tr>
                                          <tr >
                                            <td>Ameren Coporation</td>
                                            <td><i class="fa fa-envelope" aria-hidden="true"></i></td>
                                            <td>22760173</td>
                                            <td>Billed</td>
                                            <td>07/13/2015</td>
                                          </tr>
                                          <tr >
                                            <td>Ameren Coporation</td>
                                            <td><i class="fa fa-envelope" aria-hidden="true"></i></td>
                                            <td>22760173</td>
                                            <td>Billed</td>
                                            <td>07/13/2015</td>
                                          </tr>
                                          <tr >
                                            <td>Ameren Coporation</td>
                                            <td><i class="fa fa-envelope" aria-hidden="true"></i></td>
                                            <td>22760173</td>
                                            <td>Billed</td>
                                            <td>07/13/2015</td>
                                          </tr>
                                          <tr >
                                            <td>Ameren Coporation</td>
                                            <td><i class="fa fa-envelope" aria-hidden="true"></i></td>
                                            <td>22760173</td>
                                            <td>Billed</td>
                                            <td>07/13/2015</td>
                                          </tr>
                                          <tr >
                                            <td>Ameren Coporation</td>
                                            <td><i class="fa fa-envelope" aria-hidden="true"></i></td>
                                            <td>22760173</td>
                                            <td>Billed</td>
                                            <td>07/13/2015</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>  -->
                                  </div> 
                           
                              </div>
	<span class="clear-padd clearclass">
		<a class="icon-chevron-up">
        <back-top scroll-speed=500 button-theme="light" button-text="Take me back"></back-top>
	 </a> 

	
	</span>

     
  
    </div>
  </div>
  
    </div>
	 
	 
	 
	 <!-- uniform end -->
	 
 
   
   


   
