<div id="printSectionId">
<div class="modal-content" style="width:100%">
    <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel();">
            <span aria-hidden="true"><!-- <span class="glyphicon glyphicon-remove glyphSize40"></span> --><span aria-hidden="true" class="glyphSize40">&times;</span></span></button>
        <h4 class="modal-title" id="exampleModalLabel">RETURN DETAIL</h4>
    </div>

    <div class="modal-body tbl_border">
        <div class="padleft10 padright10">

            <!-- For Detail Panel -->
            <div class="row noHorizontalScroll">
                <!-- <h4>ORDER DETAIL</h4> -->
                <div>
                    <div class="col col-sm-6 col-md-6 col-lg-6">
                        <h5>Return Information</h5><hr>
                        <table class="table">
                            <tbody>
                               <tr>
                                    <td width="40%">Return Number</td>
                                    <td>{{orderno}}</td>
                                </tr>
                                <tr>
                                    <td>Ref Order Number</td>
                                    <td>{{referenceOrderNo}}</td>
                                </tr>
                                <tr>
                                    <td>Received On</td>
                                    <td>{{returnReceived}}</td>
                                </tr>
                                
								</tbody>
                        </table>

                        <h5>Return Value</h5><hr>
                        <table class="table">
                            <tbody>
                              <tr>
                                    <td width="40%">Total Merchandise</td>
                                    <td>${{merchandiseValue}}</td>
                                </tr>
                                <tr>
                                    <td>Freight</td>
                                    <td>${{actFreightAmt}}</td>
                                </tr>
                                <tr>
                                    <td>Sale Tax</td>
                                    <td>${{totalSalesTax}}</td>
                                </tr>
                                <tr>
                                    <td>Total Return Value</td>
                                    <td>${{returNetAmt}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col col-sm-6 col-md-6 col-lg-6" style="padding-left:10px">
                        <h5>Shipping Address</h5><hr>
                        <address>
                            {{shipToName}}<br>
                            {{shipToAddress1}}<br>
                            {{shipToAddress2}}<br>
                            {{shipToCity}}<br>
                       {{shipToState}}  {{shipToZip}}<br>
                            
                            {{shipToCountry}}
                        </address>

                        

                        <h5>Refund Breakdown</h5><hr>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td width="40%">Company Paid</td>
                                    <td>${{custPayAmt}}</td>
                                </tr>
                                <tr>
                                    <td>You Paid</td>
                                    <td>${{empPayAmt}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                    <div class="col col-sm-3 col-md-3 col-lg-3">
                    </div>          
                </div>
            </div>

            <div class="row"></div>
            <!-- <table class="table blueTable table-bordered table-responsive"> -->
            <div class="row">
			<div class="order_detatil_table_border">
              <div class="product-title ">
                    <div class="col-md-2 col-sm-2"> <h2 class="Order_detail_table_heading marginTopClr font13"> Product </h2></div>
                    <div class="col-md-3 col-sm-3"> <h2 class="Order_detail_table_heading marginTopClr font13">Description </h2></div>
                    <div class="col-md-1 col-sm-1"> <h2 class="Order_detail_table_heading marginTopClr font13"> Size </h2></div>
                    <div class="col-md-2 col-sm-2"> <h2 class="Order_detail_table_heading marginTopClr font13">Unit Price </h2></div>
                    <div class="col-md-1 col-sm-2"> <h2 class="Order_detail_table_heading marginTopClr font13"> Order Qty </h2></div>
                    <div class="col-md-1 col-sm-2"> <h2 class="Order_detail_table_heading marginTopClr font13"> Shipped Qty </h2></div>
					<div class="col-md-1 col-sm-2"> <h2 class="Order_detail_table_heading marginTopClr font13"> Backodr Qty </h2></div>
                    <div class="col-md-1 col-sm-2"> <h2 class="Order_detail_table_heading marginTopClr font13"> Total </h2></div>
                </div>
              <div class="product-tabel">
                    <div class="product"> <h2> product </h2> </div>
                    <div class="col-md-2 col-xs-5">
                        <div class="product">
                            <h2> Product </h2>
                            <div class="pro-body">
                                <img src="images/blue-shirt-image.jpg">
                                <p class="padleft10"> Product Caption </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-7">
                        <div class="product">
                            <h2> Description </h2>
                            <div class="pro-body decspt">
                                <div ng-click="goToDetail(1)">
                                    <a>Button Front Denim Dress <br>Uniform Shirt</a>
                                    <div class="avld">
                                        <div class="col-xs-5"><p><span>Available Date :</span></p></div>
                                        <div class="col-xs-7 colorBlue">4/2/2015</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-7 col-xs-offset-5 col-md-offset-0">
                        <div class="product size">
                            <h2> Size </h2>
                            <div class="pro-body">
                                <p> Small <span>L </span></p> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 ol-xs-7 col-xs-offset-5 col-md-offset-0">
                        <div class="product">
                            <h2> Unit Price </h2>
                            <div class="pro-body unitprice">
                                <p>$45.65</p><p>Customization <span>$0.00 </span><br><a  ng-click="viewCustomization()">view </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-7 col-xs-offset-5 col-md-offset-0">
                        <div class="product">
                            <h2> Order Qty </h2>
                            <div class="pro-body">
                                <p>1</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-1 col-xs-7 col-xs-offset-5 col-md-offset-0">
                        <div class="product">
                            <h2> Shipped Qty </h2>
                            <div class="pro-body">
                                <p>45.65</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-1 col-xs-7 col-xs-offset-5 col-md-offset-0">
                        <div class="product">
                            <h2>  Qty </h2>
                            <div class="pro-body">
                                <p>45.65</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-7 col-xs-offset-5 col-md-offset-0">
                        <div class="product">
                            <h2> Total </h2>
                            <div class="pro-body">
                                <p>$45.65</p>
                            </div>
                        </div>
                    </div>

                </div>
				<hr>
                <!----- second product ---->
                <div class="product-tabel">
                    <div class="product "> <h2> product </h2> </div>
                    <div class="col-md-2 col-xs-5">
                        <div class="product">
                            <h2> Product </h2>
                            <div class="pro-body">
                                <img src="images/pants.jpg">
                              <p class="padleft10"> Product Caption </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-7">
                        <div class="product">
                            <h2> Description </h2>
                            <div class="pro-body decspt">
                                <div ng-click="goToDetail(1)">
                                    <a>Sanded Denim <br>PEJSMD 26 / 34</a>
                                    <div class="avld">
                                        <div class="col-xs-5"><span>Available Date :</span></div>
                                        <div class="col-xs-7 "><a href="">Unable to provide Available date</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-7 col-xs-offset-5 col-md-offset-0">
                        <div class="product size">
                            <h2> Size </h2>
                            <div class="pro-body">
                                <p> Small <span>L </span></p> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 ol-xs-7 col-xs-offset-5 col-md-offset-0">
                        <div class="product">
                            <h2> Unit Price </h2>
                            <div class="pro-body unitprice" >
                                <p>$45.65</p><p>Customization <span>$0.00 </span><br><a ng-click="viewCustomization()">view{{1+1}} </a></p>
                            </div>
                        </div>
                    </div>
                   <div class="col-md-1 col-xs-7 col-xs-offset-5 col-md-offset-0">
                        <div class="product">
                            <h2> Order Qty </h2>
                            <div class="pro-body">
                                <p>1</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-1 col-xs-7 col-xs-offset-5 col-md-offset-0">
                        <div class="product">
                            <h2> Shipped Qty </h2>
                            <div class="pro-body">
                                <p>45.65</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-1 col-xs-7 col-xs-offset-5 col-md-offset-0">
                        <div class="product">
                            <h2>  Qty </h2>
                            <div class="pro-body">
                                <p>45.65</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-7 col-xs-offset-5 col-md-offset-0">
                        <div class="product">
                            <h2> Total </h2>
                            <div class="pro-body">
                                <p>$45.65</p>
                            </div>
                        </div>
                    </div>

                </div>
 </div>
               


            </div>
               <!--  <div class="row">
                    <div class="col col-xs-8 col-sm-9 col-md-10 col-lg-10 text-right"><span style="font-size:17.5px; margin-right:10px;"><strong>Order Total</strong></span>
                    </div>
                    <div class="col col-xs-3 col-xs-offset-1 col-sm-offset-0 col-sm-3 col-md-2 col-lg-2"><span style="font-size:17.5px"><strong>${{totalOrderValue}}</strong></span></div>
                </div>
 -->

                <br>
                  <div class="row">
                    <div class="col col-xs-12 col-sm-12 col-md-3 col-lg-2" style="padding:0px 0px 0px 15px;padding-top:10px;">
                        <input class="btn login-btn btn-lg btn-block" type="button" ng-click="print_order('printSectionId')" value="Print">
                    </div> 
									
                </div>
                <br>

            </div>
        </div>
    </div>
</div>