<div id="printSectionId">
<div class="modal-content" style="width:100%">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true"><!-- <span class="glyphicon glyphicon-remove glyphSize40"></span> --><span aria-hidden="true" class="glyphSize40">&times;</span></span></button>
        <h4 class="modal-title" id="exampleModalLabel">PRODUCT AVALIABILITY</h4>
    </div>

    <div class="modal-body tbl_border">
        <div class="padleft10 padright10">

            <!-- For Detail Panel -->
       

    
            <!-- <table class="table blueTable table-bordered table-responsive"> -->
            <div class="row">
			<div class="order_detatil_table_border">
              <div class="product-title ">
                  
                    <div class="col-md-3 col-sm-3"> <h2 class="Order_detail_table_heading marginTopClr font13">Lot </h2></div>
                    <div class="col-md-3 col-sm-3"> <h2 class="Order_detail_table_heading marginTopClr font13"> DIM 1 </h2></div>
                    <div class="col-md-2 col-sm-2"> <h2 class="Order_detail_table_heading marginTopClr font13">DIM 2</h2></div>
                    <div class="col-md-2 col-sm-2"> <h2 class="Order_detail_table_heading marginTopClr font13"> Avaliable Date</h2></div>
                    <div class="col-md-2 col-sm-2"> <h2 class="Order_detail_table_heading marginTopClr font13">Avaliable Qty </h2></div>

                </div>
              <div class="product-tabel">
                   
                    
                    <div class="col-md-3 col-xs-12">
                        <div class="product">
                            <h2> Lot </h2>
                            <div class="pro-body decspt" >
                               SMU4KH
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <div class="product size">
                            <h2> DIM 1 </h2>
                            <div class="pro-body">
                               <p class="padleft18">LN</p> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <div class="product">
                            <h2>DIM 2 </h2>
                            <div class="pro-body unitprice">
                                <p class="padleft18">L</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <div class="product">
                            <h2>Avaliable Date</h2>
                            <div class="pro-body">
                                <p class="padleft18">9/16/2016</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-2 col-xs-12">
                        <div class="product">
                            <h2>Avaliable Qty</h2>
                            <div class="pro-body">
                                <p class="padleft18">8</p>
                            </div>
                        </div>
                    </div>
				

                </div>
				<hr>
           <div class="product-tabel">
                   
                    
                    <div class="col-md-3 col-xs-12">
                        <div class="product">
                            <h2> Lot </h2>
                            <div class="pro-body decspt" >
                               SMU4KH
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <div class="product size">
                            <h2> DIM 1 </h2>
                            <div class="pro-body">
                               <p class="padleft18">LN</p> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <div class="product">
                            <h2>DIM 2 </h2>
                            <div class="pro-body unitprice">
                                <p class="padleft18">L</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <div class="product">
                            <h2>Avaliable Date</h2>
                            <div class="pro-body">
                                <p class="padleft18">9/16/2016</p>
                            </div>
                        </div>
                    </div>
					<div class="col-md-2 col-xs-12">
                        <div class="product">
                            <h2>Avaliable Qty</h2>
                            <div class="pro-body">
                                <p class="padleft18">8</p>
                            </div>
                        </div>
                    </div>
				

                </div>
                <!----- second product ---->
                
 </div>
              

                  <div class="row">
               
                    <div class="col col-xs-12 col-sm-12 col-md-3 col-lg-2" style="padding-left:10px;padding-top:10px;">
                        <input class="btn login-btn btn-lg btn-block" type="button" data-dismiss="modal" value="Ok" ng-click="cancel()">
                    </div> 
               					
                </div>
              

            </div>
        </div>
    </div>








</div>