<div id="printSectionId">
<div class="modal-content" style="width:100%">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true"><!-- <span class="glyphicon glyphicon-remove glyphSize40"></span> --><span aria-hidden="true" class="glyphSize40">&times;</span></span></button>
        <h4 class="modal-title" id="exampleModalLabel">AVALIABILITY AT LOCATIONS</h4>
    </div>

    <div class="modal-body tbl_border">
        <div class="padleft10 padright10">

            <!-- For Detail Panel -->
       

    
            <!-- <table class="table blueTable table-bordered table-responsive"> -->
            <div class="row">
			<div class="order_detatil_table_border">
              <div class="product-title ">
                  
                    <div class="col-md-12 col-sm-12"> <h2 class="Order_detail_table_heading marginTopClr font13">Locations</h2></div>
                   

                </div>
              <div class="product-tabel">
                   
                    
                    <div class="col-md-3 col-xs-12">
                        <div class="product">
                            <h2> Locations </h2>
                            <div class="pro-body decspt" >
                               NAS
                            </div>
                        </div>
                    </div>
                   
                  
                  
					
				

                </div>
				<hr>
           <div class="product-tabel">
                   
                    
                    <div class="col-md-3 col-xs-12">
                        <div class="product">
                            <h2> Locations </h2>
                            <div class="pro-body decspt" >
                               NAS
                            </div>
                        </div>
                    </div>
               
					
				

                </div>
                <!----- second product ---->
                
 </div>
              

                  <div class="row">
               
                    <div class="col col-xs-12 col-sm-12 col-md-3 col-lg-2" style="padding-left:10px;padding-top:10px;">
                        <input class="btn login-btn btn-lg btn-block" type="button" data-dismiss="modal" value="Ok" ng-click="cancel()">
                    </div> 
               					
                </div>
              

            </div>
        </div>
    </div>








</div>