<div id="selectprogram">
	 <div id="header" ng-include="'header_client.html'"></div>
	
<div class="container-fluid content-container content_bg">

  <div class="row">
     
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 left-bg padleft18">

      <div class="row">
	 

	
   	 <div class="clear-padd col-xs-12 col-sm-12 col-md-12">
	 
	     <h4 class="padd10"><span class="header-variant"><strong>Welcome James</strong></span></h4>
		  
     </div>
      
    </div>
   <div ng-controller="tabCtrl">
	  <div class="col-xs-12 col-sm-12 col-md-12 padright40 marginbtm20">
 	  <ul class="nav nav-tabs">
		<li ng-class="{'active' : activeTab == 1}"><a href="" ng-click="setActiveTab(1)" class="col-xs-12 col-sm-12 col-md-12 height60">Select Program</a></li>
		<li ng-class="{'active' : activeTab == 2}"><a href="" ng-click="setActiveTab(2)" class="col-xs-12 col-sm-12 col-md-12 height60">View Account Balance</a></li>
		
		
	  </ul>
	  
	  <div class="tab-content">
		<div ng-class="{'tab-pane active': activeTab === 1, 'tab-pane' : activeTab !== 1}" class="padd10">
		<div class="col-xs-12 col-sm-12 col-md-12 padd20bot" style="overflow:hidden" >         
		<form>
           <div class="row ">
		   <ul class="product_box padleft20">
                                            <li class="col-md-12 col-sm-12 col-xs-12">
                                                <p><input type="radio" id="rb1" name="rbs" value="" checked> <label for="rb1"> Fedex express epro punchout </label> </p>
                                                <p><input type="radio" id="rb2" name="rbs" value=""> <label for="rb2"> Fedex express allowance </label> </p>
                                                                                            
                                        </ul>
        
          
          
          <!-- <div class="col-xs-12 col-sm-6 col-md-4 hidden-xs"> <span class="pull-right"> <a href="view-balance.html" class="view-bal" tabindex="2">View Balance</a></span></div>-->
          
                           
           </div>
           <hr>
           <div class="checkbox" style="display:block;">
              <div class="row clear-margin">
               <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 clear-padd nfvariant">
                 
                  
                     <div class="checkbox" ng-controller="urlCtrl_log" >
                        <input id="checkbox1" class="styled" type="checkbox" tabindex="3">
                        <label for="checkbox1">
                         Use my own credit card for purchases</label>
						     
                    </div>
					  <div class="checkbox" ng-controller="urlCtrl_log" >
                        <input id="checkbox1" class="styled" type="checkbox" tabindex="3">
                        <label for="checkbox1">
                        Allowance Purchase</label>
						     
                    </div>
					  <div class="checkbox" ng-controller="urlCtrl_log" >
                        <input id="checkbox1" class="styled" type="checkbox" tabindex="3">
                        <label for="checkbox1">
                         Company Purchase</label>
						     
                    </div>
                 
                 
                </div>
   <div class=" ng-popover-trigger cart_popover cursor_ptr " id="custom-popover_6" >
       
  <span class="glyphicon glyphicon-info-sign fa-2x blue marg5 cursor_ptr padleft10_btn"  ></span>


                </div>   
      
               
               
              </div>
            </div>
			
               <div class="col-xs-12 col-sm-12 col-md-12 clear-padd nfvariant">
                 
          
					        <div class="row ">
		   <div class="product_box padleft20">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
											  <div class="col-md-2 col-sm-3 col-xs-8 ">
											  <div class="checkbox">
											  <p>
											   <input id="checkbox1" class="styled" type="checkbox" tabindex="3" id="rb3" name="rb">
                        <label for="rb3">
                         Allowance Purchase</label>
                                             </p></div></div>
											    <div class="col-md-1 col-sm-2 col-xs-4">
												<div class=" ng-popover-trigger cart_popover cursor_ptr " id="custom-popover_3">
												<span class="glyphicon glyphicon-info-sign fa-2x blue ng-popover-trigger  cursor_ptr"  id="custom-popover_3"
   ></span></div></div></div> 
   <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-2 col-sm-3 col-xs-8"><p>
                                              <input type="radio" id="rb4" name="rb" value=""> <label for="rb4">Company Purchase </label></p></div>
											    <div class="col-md-1 col-sm-2 col-xs-4">
												<div class=" ng-popover-trigger cart_popover cursor_ptr " id="custom-popover_4"><span class="glyphicon glyphicon-info-sign fa-2x blue ng-popover-trigger  cursor_ptr " id="custom-popover_4"
    ></span></div></div> </div> 
	<div class="col-md-12 col-sm-12 col-xs-12">
	 <div class="col-md-2 col-sm-3 col-xs-8"><p>
												 <input type="radio" id="rb5" name="rb" value=""> <label for="rb5">My Own Credit Card Purchase</label></p></div>
											    <div class="col-md-1 col-sm-2 col-xs-4">
												<div class=" ng-popover-trigger cart_popover cursor_ptr " id="custom-popover_5"><span class="glyphicon glyphicon-info-sign fa-2x blue ng-popover-trigger  cursor_ptr " id="custom-popover_5"
    ></span> </div></div></div>
                                                                                            
                                        </div>
        
          
          
          <!-- <div class="col-xs-12 col-sm-6 col-md-4 hidden-xs"> <span class="pull-right"> <a href="view-balance.html" class="view-bal" tabindex="2">View Balance</a></span></div>-->
          <div class="dynamic_content col-xs-10 col-sm-10 col-md-10 mar10Left">
		  <p class="padd10 plainbold">sample content</p>
		  
		  </div>
                           
           </div>
        
           </div>
      
       
            
            <div class=" clear-padd form-group ">
             <div class="col-xs-12 col-sm-4 col-md-4 clear-padd">
             <div class="col-xs-11 col-sm-5 col-md-4 col-lg-4" style="margin-right:5px;margin-bottom:10px;">
              <a href="#uniforms"> <input type="button" value="continue" id="continue" class="btn btn-default login-btn btn-block" title="Continue" tabindex="4"></a></div>

              
              
            
                             
                </div>
            </div>
            
          </form>
		</div>
		
		</div>
		<div ng-class="{'tab-pane active': activeTab === 2, 'tab-pane' : activeTab !== 2}"><div class="col-xs-12 col-sm-12 col-md-12 ">   
		<div class=" view_container col-xs-12 col-sm-12 col-md-12 padd20bot " >
		<p class="floatR padd10">From 4/28/15 to 4/27/16</p>
		<div class="dummyheader padd10">Basic</div>
	              <div class="panel-body allowance-data">
                           
                             <div class="col-xs-12 col-sm-6 col-md-8 clear-left-padd">
           
                              <div class="minWidthView col-xs-4 col-sm-4 col-md-4 clear-left-padd">Original:</div>
                              <div class="col-xs-4 col-sm-4 col-md-4 ">$382.2</div>
                               </div>
                               
                               <div class="col-xs-12 col-sm-6 col-md-4 clear-padd">
           
                              <div class="minWidthView col-xs-4 col-sm-4 col-md-4 clear-padd">Used:</div>
                              <div class="col-xs-4 col-sm-4 col-md-4 ">$100</div>
                               </div>
                               
                               
                                <div class="col-xs-12 col-sm-6 col-md-8 clear-left-padd">
           
                              <div class="minWidthView col-xs-4 col-sm-4 col-md-4 clear-left-padd">Shopping Cart:</div>
                              <div class="col-xs-4 col-sm-4 col-md-4 ">$0</div>
                               </div>
                               
                              <div class="col-xs-12 col-sm-6 col-md-4 clear-padd">
           
                              <div class="minWidthView col-xs-4 col-sm-4 col-md-4 clear-padd">Returns:</div>
                              <div class="col-xs-4 col-sm-4 col-md-4 ">$0</div>
                               </div>
                           
                          </div>
		<div class="notifications hiddenclass padd10">
			<div class="col-xs-8 col-sm-8 col-md-6" >
		<div class="col-xs-10 col-sm-4 col-md-4" >Balance Allowance</div>
		<div class="col-xs-2 col-sm-2 col-md-4  padleft18" >$0.50</div>
		
		</div>
</div>
		<div class="dummyheader padd10">Employee Credit</div>
		              <div class="panel-body allowance-data">
                           
                             <div class="col-xs-12 col-sm-6 col-md-8 clear-left-padd">
           
                              <div class="minWidthView col-xs-4 col-sm-4 col-md-4 clear-left-padd">Original:</div>
                              <div class="col-xs-4 col-sm-4 col-md-4 ">$0</div>
                               </div>
                               
                               <div class="col-xs-12 col-sm-6 col-md-4 clear-padd">
           
                              <div class="minWidthView col-xs-4 col-sm-4 col-md-4 clear-padd">Used:</div>
                              <div class="col-xs-4 col-sm-4 col-md-4 ">$100</div>
                               </div>
                               
                               
                                <div class="col-xs-12 col-sm-6 col-md-8 clear-left-padd">
           
                              <div class="minWidthView col-xs-4 col-sm-4 col-md-4 clear-left-padd">Shopping Cart:</div>
                              <div class="col-xs-4 col-sm-4 col-md-4 ">$0</div>
                               </div>
                               
                              <div class="col-xs-12 col-sm-6 col-md-4 clear-padd">
           
                              <div class="minWidthView col-xs-4 col-sm-4 col-md-4 clear-padd">Returns:</div>
                              <div class="col-xs-4 col-sm-4 col-md-4 ">$0</div>
                               </div>
                           
                          </div>
						  
				<div class="notifications hiddenclass padd10 ">
			<div class="col-xs-8 col-sm-8 col-md-6" >
		<div class="col-xs-10 col-sm-4 col-md-4" >Balance Allowance</div>
		<div class="col-xs-2 col-sm-2 col-md-4  padleft18" >$255.50</div>
		
		</div>
</div>
  <div class="dynamic_content col-xs-10 col-sm-10 col-md-10 mar10Left">
		  <p class="padd10 plainbold">This is the Dynamic Content</p>
		  
		  </div>
		   <div class="clear-padd form-group" style="margin-left:13px;">
             <div class="col-xs-12 col-sm-4 col-md-4">
             <div class="col-xs-11 col-sm-5 col-md-4 col-lg-4" style="margin-right:5px;margin-bottom:10px;">
              <a href="#uniforms"> <input type="button" value="continue" data-dismiss="modal" id="continue" class="btn btn-default login-btn btn-block" title="Continue" tabindex="4"></a></div>

              
              
         
                             
                </div>
            </div>
		
		</div>
		
		
		
		</div></div>
			
	  </div>
	     
	   	
	   </div>     	     	     	     	     	     	     	     	     

	   </div>
		   


     
  
    </div>
  </div>
  
    </div>
	 
		
   
   
</div>

   
<ng-popover trigger="custom-popover_3" popover-class="custom-popover_3" on-open="openCallback('template popover')" on-close="closeCallback('template popover')" class="info_selectpro_3">
	  	
	      	<div class="padd10">
			
	
			
	      		
	      		
	      	<div class="container_triangle_3">
    <div class="triangle_3"></div>
</div>
			
               
		<div class="marTop_cart">

<div class="content_info_popover">By selecting this option the order will be charged to contractor/employee's company allowance. </div>
</div>

			
			</div>
	      	
	</ng-popover>
	
	
	<ng-popover trigger="custom-popover_4" popover-class="custom-popover_4" on-open="openCallback('template popover')" on-close="closeCallback('template popover')" class="info_selectpro_4">
	  	
	      	<div class="padd10">
			
	
			
	      		
	      		
	      	<div class="container_triangle_4">
    <div class="triangle_4"></div>
</div>
			
               
		<div class="marTop_cart">

<div class="content_info_popover"> 	By selecting this option your entire order will be charged to company. This will not deduct funds from contractor/employee's allowance.</div>
</div>

			
			</div>
	      	
	</ng-popover>
	
	
	<ng-popover trigger="custom-popover_5" popover-class="custom-popover_5" on-open="openCallback('template popover')" on-close="closeCallback('template popover')" class="info_selectpro_5">
	  	
	      	<div class="padd10">
			
	
			
	      		
	      		
	      	<div class="container_triangle_5">
    <div class="triangle_5"></div>
</div>
			
               
		<div class="marTop_cart">

<div class="content_info_popover"> 	By selecting this option your entire order will be charged to your personal credit card. This option will not deduct funds from your company allowance. </div>
</div>

			
			</div>
	      	
	</ng-popover>
	
		<ng-popover trigger="custom-popover_6" popover-class="custom-popover_6" on-open="openCallback('template popover')" on-close="closeCallback('template popover')" class="info_selectpro_6">
	  	
	      	<div class="padd10">
			
	
			
	      		
	      		
	      	<div class="container_triangle_6">
    <div class="triangle_6"></div>
</div>
			
               
		<div class="marTop_cart">

<div class="content_info_popover">5.By choosing this option your entire order will be changed to your personal credit card. This order will not deduct funds from your company allowance</div>
</div>

			
			</div>
	      	
	</ng-popover>