           <table class="white" wt-responsive-table cellspacing="0" cellpadding="0">
          <thead>
            <tr class="dummyheader padd10 linetableheight">
              <th class="padleft10">Product</th>
              <th >Description</th>
              <th >Size</th>
              <th >Unit Price</th>
              <th >Qty</th>
              <th >Total</th>
            </tr>
          </thead>
		  
          <tbody>
		  
		    <tr class="linetableheight linkCursorPointer border_bottom" ng-click="details(1)" >
                                           <td class="padleft10">
                  <img src="images/blue-shirt-image.jpg" style="width:125px;"><br>
                  Product Captions
              </td>
                       <td ng-click="goToDetail(1)" valign="top">
              <a href="javascript:void();" class="colorblue"> Button Front Denim Dress Uniform Shirt</a>
			    <div class=""><span>Available Date:</span>4/2/2015</div></td>  
     <td  valign="top">Small <div class="lineheight18">L</div></td>
              <td  valign="top">$45.65<div class="lineheight18">Customization </div><div>$0.00</div></td>
              <td  valign="top">1</td>
              <td  valign="top">$45.65</td>
</tr>		
		  
		    <tr class="linetableheight linkCursorPointer" ng-click="details(1)" >
                                           <td class="padleft10" >
                  <img src="images/blue-shirt-image.jpg" style="width:125px;"><br>
                  Product Captions
              </td>
                       <td ng-click="goToDetail(1)" valign="top">
              <a href="javascript:void();" class="colorblue"> Button Front Denim Dress Uniform Shirt</a>
			    <div class=""><span>Available Date:</span>4/2/2015</div></td>  
     <td  valign="top">Small <div class="lineheight18">L</div></td>
              <td  valign="top">$45.65<div class="lineheight18">Customization </div><div>$0.00</div></td>
              <td  valign="top">1</td>
              <td  valign="top">$45.65</td>
</tr>		  
     <!--        <tr class="linetableheight border_bottom" >
              <td class="padleft10">
                  <img src="images/blue-shirt-image.jpg" style="width:100px"><br>
                  Product Captions
              </td>
              <td ng-click="goToDetail(1)">
                <div style="color:blue; cursor: pointer">Button Front Denim Dress <br>Uniform Shirt</div>
                <br><br>
                <div class="row">
                  <div class="col col-sm-4 text-right padright10"><span>Available Date</span></div>
                  <div class="col col-sm-3">4/2/2015</div>
                </div>
              </td>
              <td class="text-center">Small<br>L</td>
              <td class="text-left">$45.65<br><br>Customization<br>$0.00</td>
              <td class="text-center">1</td>
              <td class="text-left">$45.65</td>
            </tr>
            <tr class="linetableheight border_bottom">
              <td class="padleft10">
                  <img src="images/pants.jpg" style="width:100px"><br>
                  Product Captions
              </td>
              <td ng-click="goToDetail(2)">
                <div style="color:blue; cursor: pointer">Sanded Denim <br>PEJSMD 26 / 34</div>
                <br><br>
                <div class="row">
                  <div class="col col-sm-4 text-right padright10"><span>Available Date</span></div>
                  <div class="col col-sm-3">Unable to provide Available date</div>
                </div>
              </td>
              <td class="text-center">Regular<br>XL</td>
              <td class="text-left">$40.20<br><br>Customization<br>$0.00</td>
              <td class="text-center">1</td>
              <td class="text-left">$40.20</td>
            </tr> -->
          </tbody>
          </table> 